/* desktop */
@media (min-width: 376px) {
  body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .img-product {
    height: 410px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .detail {
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 4px;
  }
}

/* mobile */
@media (max-width: 375px) {
  body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  .img-product {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* margin-bottom: -3px; */
    margin-bottom: -0.2rem;
  }
  .detail {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}


header {
  margin-top: 1.5rem;
  margin-left: 2rem;
  font-size: 11px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.title {
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 28px;
  width: 12rem;
}

article {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  width: 15rem;
  line-height: 1.6;
}

.prices {
  display: flex;
  justify-content: left;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.price {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 28px;
}

.visually-hidden:not(:focus):not(:active) {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  padding-top: 0.7rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: none;
  width: 220px;
  font-family: 'Montserrat';
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: hsl(159, 37%, 18%);
}

.icon-cart {
  margin-right: 0.4rem;
}

.text-cart {
  color: hsl(0, 0%, 100%);
}